{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCPlatformBundle::layout.html.twig" %}

{% block body %}

  <h2>Tarification</h2>

  {{ include("OCBoutiqueBundle:Tarification:form.html.twig") }}

  

{% endblock %}
