{% extends "OCPlatformBundle::layout.html.twig" %}

{% block title %}
  Candidature - {{ parent() }}
{% endblock %}

{% block ocplatform_body %}
<p>Vous avez déja candidaté à cette offre</p>
{% endblock %}