{# src/OC/PlatformBundle/Resources/views/Advert/add.html.twig #}

{% extends "OCBoutiqueBundle::layout.html.twig" %}

{% block body %}

  <h3>Aménagement de vôtre boutique</h3>

  {{ include("OCBoutiqueBundle:Boutique:form.html.twig") }}

  <p>en cliquant sur sauvegarder, vous acceptez les <a href="{{ path('oc_user_lookin') }}">conditions</a> d'utilisation d'entremus.</p>

{% endblock %}
