
{% extends "OCBoutiqueBundle::layout.html.twig" %}

{% block body %}

  <h2>Modifier une annonce</h2>

  {{ include("OCBoutiqueBundle:Boutique:form.html.twig") }}

  <p>
    <a href="{{ path('oc_boutique_view', {'id': boutique.id}) }}" class="btn btn-default">
      <i class="glyphicon glyphicon-chevron-left"></i>
      Retour 
    </a>
  </p>

{% endblock %}
