{% extends "OCBoutiqueBundle::layout.html.twig" %}
{% block body %}

  <p>Vous êtes déja vendeur sur EntreMus.Si vous voulez créer une nouvelle boutique, il faut créer un nouveau compte utilisateur puis formuler une demande.</p>
{% endblock %}