{% extends "OCBoutiqueBundle::layout.html.twig" %}
{% block body %}

  <p>Vous êtes déjà vendeur vous n'avez plus qu'à amenager vôtre boutique et si c'est déjà fait et que voulez en rajouter une, vous devrez céer un nouveau compte.</p>
{% endblock %}