{% extends "OCCoreBundle::layout.html.twig" %}

{% block body %}

<p> Il existe déja un tarif de livraison vous pouvez y accéder à ce lien <a href="{{ path('oc_tarification_look') }}">Les Tarifs</a></p>  
{% endblock %}
