{# On utilise ici le layout général, qui se situe dans ce même CoreBundle maintenant #}
{% extends "OCCoreBundle::layout.html.twig" %}

{% block body %}
   
  <p class="text-danger">Arrêtez de faire le malin.</p>
{% endblock %}
