{% extends "OCBoutiqueBundle::layout.html.twig" %}
{% block body %}
<div class="centering text-center">

<p > Vous n'avez pas encore amenagé vôtre boutique.<a href="{{ path('oc_boutique_add') }}">Amenager maintenant.</a></p>
    


</div>
{% endblock %}